<section>
  <header>
  </header>
  <p id="slot_date">
    <%= Time.zone.parse(@slot['startDate']).strftime('%A %d %b. %Y') %>
  </p>
  <p id="slot_start">
    <%= Time.zone.parse(@slot['startDate']).strftime('%H:%M') %>
  </p>
  <p id="slot_duration">
    <%
      if(@slot['endDate'])
        days = ((diff = (Time.zone.parse(@slot['endDate']) - Time.zone.parse(@slot['startDate'])).to_i) / 3600 / 24).floor
        hours = ((diff = (Time.zone.parse(@slot['endDate']) - Time.zone.parse(@slot['startDate']) - (days * 3600 * 24)).to_i) / 3600).floor
        minutes = ((diff - (hours * 3600)) / 60).floor
      end
    %>
    <%= (@slot['endDate'] ? "#{days}d #{hours}h #{minutes}min" : 'Open End') << ' Slot' %>
  </p>
  <p id="slot_image">
    <% @slot['media'].each do |item|  %>
        <% if item['mediaType'] == 'image' %>
          <p>
            <img src="<%= item['publicId'] %>">
          </p>
          <% break %>
      <% end %>
    <% end %>
  </p>
  <h1>
    <%= @slot['title'] %>
  </h1>
  <p>
    <%= @slot['location'] %>
  </p>
  <p>
    <a href="#comments">
      <%= @slot['commentsCounter'] %> comments
    </a>
    -
    <a href="#comments">
      <%= @slot['likes'] %> likes
    </a>
    -
    <a href="#comments">
      <%= @slot['reslotsCounter'] %> relots
    </a>
  </p>
  <p>
    Posted on
    <time datetime="<%= @slot['createdAt'] %>">
      <%= @slot['createdAt'] %>
    </time>
    by
    <a href="#">
      <%= @slot['creator']['username'] %>
    </a>
  </p>
</section>
